docker-compose.yml

# Grafana datasource
/grafana/datasources/datasources.yaml

# Unifi Unpoller
/unpoller/up.conf

# Alertmanager
/alertmanager/alertmanager.yml

# Prometheus certs
/prometheus/ca.crt
/prometheus/tls.crt
/prometheus/tls.key